<div class="container">
    <h3 style="text-align:center"> TASK IT </h3>
    <div class="row">
        <div class="col-xs-8">
            <h5>Task Progress</h5>
            <progress class="progress progress-success" id="progressBar" value="{{prog}}" max="100"></progress>
        </div>
        <div class="col-xs-4" style="border: 2px solid">
            <h5>My Points: 
            <br>
            {{taskData.lifecount.length}} </h5>
        </div>
    </div>
</div>
<hr>
<div class="col-xs-12 ">
    <!--Panel-->
    <!--/.Panel-->
    <div class="card text-xs-center">
        <div class="card-header card-dark blue-grey" style="text-align:left">
            <h4>To Do Today <i class="fa fa-th-list" aria-hidden="true"></i> 
          <div class="add-btn" id="add-btn"> <i class="fa fa-plus pull-right" aria-hidden="true"></i></div>
            </h4>
            <div class="addTask" style="text-align:center">
                <!-- Trigger/Open the add task modal -->
                <!-- When open the add task modal -->
                <div id="add-modal" class="modal">
                    <!-- open add modal content -->
                    <div class="modal-content">
                        <div id="close-add-modal" style="text-align:right">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <form id="addFriendForm" role="form" method="get" action="/add">
                            <!--FORM Start-->
                            <h3>New Task</h3>
                            <div class="form-group md-form">
                                <input required type="text" class="form-control" id="name" placeholder="Task Name" name="task">
                                <label> Task Name </label>
                            </div>
                            <div class="form-group md-form">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                                <label for="priority">Subject: </label>
                            </div>
                            <div class="form-group md-form">
                                <input type="text" class="flatpickr form-control" id="datepicker" placeholder="Due Date" name="dueDate">
                                <label> Due Date </label>
                            </div>
                            <div class="form-group md-form">
                                <input placeholder="(optional)" type="text" id="description" class="form-control" name="description">
                                <label for="description">Description</label>
                            </div>
                            <div style="text-align:center">
                                <button type="submit" id="submitBtn" class="btn btn-default"> Add Task </button>
                            </div>
                        </form>
                        <!--FORM END-->
                    </div>
                </div>
            </div>
        </div>
        {{#each dueToday}}
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header taskclick" role="tab" id="headingOne">
                    <h5 class="mb-0">
                    <a>{{task}}</a>
                    <i class="material-icons">expand_more</i>
                     </h5>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        {{description}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="friends" class="panel panel-default">
    <div class="panel-heading">
        <h5 class="panel-title" style="text-align: center;">Try to beat your friends!</h5>
    </div>
    <div class="panel-body">
        <div class="thumbnail">
            <a href="{{tryToBeat.link}}" style="text-align: center;">
                <p> {{tryToBeat.name}} </p>
                <div id="top-score">
                    <span> Beat their score of: {{tryToBeat.score}} </span>
                </div>
            </a>
        </div>
    </div>
</div>
<hr>